/* General */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

input {
    text-align: center;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* Header */

.header {
    width: 25vw;
    height: 100vh;
    background-color: #fbf579;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding-top: 10vh;
}

.upload-wrapper {
    padding-bottom: 30vh;
}

.gallery-wrapper {
    width: 75vw;
    height: 100vh;
    padding-left: 25vw;
}

.headline {
    color: black;
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
}

/* Upload Form */

.UploadText {
    font-family: "Quicksand", sans-serif;
}

.UploadForm {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.fab:hover {
    color: #fa625f;
    transition-duration: 0.5s;
}

.UploadForm input {
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid #cccccc;
    outline: none;
}

#inp {
    text-align: center;
    margin: auto;
}

.UploadForm h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.submitUploadFrom {
    margin-top: 35px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.submitUploadFrom:hover {
    /* text-decoration: underline; */
    background-color: black;
    color: white;
}

/* Latest Title */

.LatestTitle {
    display: flex;
    width: 75vw;
    height: 10vh;
    background-color: #fa625f;
    align-items: center;
    justify-content: center;
    color: black;
    letter-spacing: 4px;
}

/* .LatestTitle {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}

.LatestTitle:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
} */

/* Image Cards Section */

.imagepost {
    width: 100%;
    height: 100%;
}

.imagetext {
    font-weight: bold;
    position: absolute;
    background-color: #fbf579;
    padding: 10px;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: black;
    visibility: hidden;
}

/* Importante */
.imagewrapper {
    display: inline-grid;
    height: 100%;
    width: 1fr;
    position: relative;
}

.imagewrapper:hover img {
    filter: grayscale(80%);
    transition-duration: 0.5s;
}

.imagewrapper:hover .imagetext {
    visibility: visible;
    transition-duration: 0.5s;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.image {
    width: 75vw;
    min-height: 80vh;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.imagesection-wrapper {
    height: 90vh;
}

/* Modal Mask */

.modalMask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    display: flex;
    align-content: center;
    justify-content: center;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Modal Menu Wrapper */

.wrapper {
    width: 80%;
    height: 95%;
    position: absolute;
    margin: 1em;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #cccccc;
}

.modal-btn {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

.modal-btn:hover {
    /* text-decoration: underline; */
    background-color: black;
    color: white;
}

.inputfieldsModal {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Img Size */

.IMG-container {
    width: 40%;
    height: 40%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

p {
    color: black;
}

/* Comment Section */

.commentInputField {
    margin-top: 5px;
}

.inputfieldsModal input {
    margin-bottom: 10px;
    width: 300px;
    height: 20px;
    border: 1px solid #cccccc;
}

.submitCommentBtn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}

.submitCommentBtn:hover {
    background-color: black;
    color: white;
}

.commentsection {
    margin-top: 5px;
    overflow: scroll;
    width: 500px;
}

#comments {
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

#comments p {
    margin: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.NoCmments {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}

/* Get More Section */

.moreButton {
    display: flex;
    width: 75vw;
    height: 10vh;
    background-color: #005995;
    align-items: center;
    justify-content: center;
}

.textMore {
    color: white;
    cursor: pointer;
}

.textMore:hover {
    text-decoration: underline;
}

.textNoMore {
    color: white;
    cursor: pointer;
}

.textNoMore {
    color: red;
    text-decoration: underline;
}

.noMoreButton {
    background-color: white;
}

/* Footer */

/* MISC like SPAN */

.warning p {
    color: red;
    margin-bottom: 5px;
}
